* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-color: #d7f0fc;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  margin-left: 20px;
}

header,
.add-container {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.add-container input {
  max-width: 400px;
  min-width: 200px;
  margin-left: 20px;
}

.add-container input,
.add-container button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
.add-container button {
  color: #11a725;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-container button:hover {
  background: #11a725;
  color: white;
}
.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-list {
  width: 450px;
  min-width: 250px;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

li {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}
.delete-btn {
  float: right;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
